[Unit]
Description=Lithos Supervisor service

[Service]
Type=simple
Environment="RUST_LOG=warn"
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/bin/lithos_tree
Restart=always

[Install]
WantedBy=multi-user.target
